In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('cluster_results_hdi.csv')

df_country = pd.read_excel('dados_hdi.xlsx')
df_country = df_country[['Country']]

In [3]:
df = pd.concat([df_country,df], axis=1)
df.set_index('Country',inplace=True)

In [4]:
df.head()

,Economy,Inequality,Gender,Population,Expenditure,Health,Environment
Country,,,,,,,
Norway,0,0,2,2,2,0,1
Ireland,0,0,2,3,0,0,1
Switzerland,0,0,2,2,3,2,1
"Hong Kong, China (SAR)",0,0,0,2,1,0,1
Iceland,0,0,2,2,2,2,1

In [5]:
## Locating Brazil cluster number in Data Frame ##
df.loc['Brazil'][:]

Economy        2
Inequality     2
Gender         0
Population     1
Expenditure    2
Health         0
Environment    0
Name: Brazil, dtype: int64

In [6]:
## Creating lists of Countrys of Brazilian's Clusters ##
list_economy = list(df[df['Economy']==2].index.values)
list_inequality = list(df[df['Inequality']==2].index.values)
list_gender = list(df[df['Gender']==0].index.values)
list_population = list(df[df['Population']==1].index.values)
list_expenditure = list(df[df['Expenditure']==2].index.values)
list_health = list(df[df['Health']==0].index.values)
list_environment = list(df[df['Environment']==0].index.values)

In [11]:
## Finding the Countrys that with Brazil on each Cluster!!! ###
partners = set(list_economy) & set(list_inequality) & set(list_gender)
partners

{'Belize',
 'Brazil',
 'Fiji',
 'Iran (Islamic Republic of)',
 'Jamaica',
 'Kuwait',
 'Maldives',
 'Marshall Islands',
 'Saint Kitts and Nevis',
 'Saint Vincent and the Grenadines',
 'Sri Lanka',
 'Thailand',
 'Turkey',
 'Uruguay',
 'Venezuela (Bolivarian Republic of)'}

In [12]:
partners2 = set(list_population) & set(list_expenditure) 
partners2

{'Brazil', 'Marshall Islands', 'Palau'}

In [14]:
partners3 = set(list_health) & set(list_environment) 
partners3

{'Brazil',
 'Brunei Darussalam',
 'Costa Rica',
 'Malaysia',
 'Montenegro',
 'Palau',
 'Panama',
 'Saint Vincent and the Grenadines',
 'Seychelles',
 'Slovenia',
 'Suriname',
 'Venezuela (Bolivarian Republic of)'}

In [15]:
final = set(list_economy) & set(list_inequality) & set(list_gender) & set(list_population) & set(list_expenditure) & set(list_health) & set(list_environment)
final

{'Brazil'}