In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.neighbors import NearestNeighbors

%matplotlib inline

In [2]:
### Importing all the dataframes with only the Cluster that Brazil is located in each case ###
df_economy_hdi = pd.read_csv('df_economy_hdi.csv')
df_inequality_hdi = pd.read_csv('df_inequality_hdi.csv')
df_gender_hdi = pd.read_csv('df_gender_hdi.csv')
df_population_hdi = pd.read_csv('df_population_hdi.csv')
df_expenditure_hdi = pd.read_csv('df_expenditure_hdi.csv') 
df_health_hdi = pd.read_csv('df_health_hdi.csv') 
df_environment_hdi = pd.read_csv('df_environment_hdi.csv')

In [3]:
### Locating and showing the position of Brazil in each dataframe!!! ###
economy_bra = df_economy_hdi[df_economy_hdi['Country']=='Brazil']
display(economy_bra)
inequality_bra = df_inequality_hdi[df_inequality_hdi['Country']=='Brazil']
display(inequality_bra)
gender_bra = df_gender_hdi[df_gender_hdi['Country']=='Brazil']
display(gender_bra)
population_bra = df_population_hdi[df_population_hdi['Country']=='Brazil']
display(population_bra)
expenditure_bra = df_expenditure_hdi[df_expenditure_hdi['Country']=='Brazil']
display(expenditure_bra)
health_bra = df_health_hdi[df_health_hdi['Country']=='Brazil']
display(health_bra)
environment_bra = df_environment_hdi[df_environment_hdi['Country']=='Brazil']
display(environment_bra)

   Country      HDI        LE       EYS       MYS       GNI  Economy
36  Brazil  0.65897  0.715643  0.614119  0.506661  0.103694        2

,Country,IHDI,ILE,IE,II,VE,RPAE,SLF,Inequality
18,Brazil,0.506747,0.220779,0.414555,0.669368,0.293995,1.0,0.648593,2

   Country      GDIV      GIIV       SSP      WAFI  Gender
27  Brazil  0.922445  0.497403  0.269189  0.669624       0

   Country        TP       TUP        MA  Population
19  Brazil  0.147187  0.847926  0.551992           1

   Country       CHE       GEE      RDE  Expenditure
17  Brazil  0.521803  0.458251  0.25292            2

   Country       PPP        HB  Health
37  Brazil  0.255751  0.154503       0

,Country,CDEP,CDE,FA,FAC,DMC,RLI,Environment
15,Brazil,0.056879,0.150589,0.59976,0.226697,0.319205,0.840719,0

In [4]:
### Saving just the Brazil's index for each case! ###
economy = 36
inequality = 18
gender = 27
population = 19
expenditure = 17
health = 37
environment = 15

In [5]:
### Changing the index to make the numpy array only with float!! ###
df_economy_hdi.set_index('Country',inplace=True)
df_inequality_hdi.set_index('Country',inplace=True)
df_gender_hdi.set_index('Country',inplace=True)
df_population_hdi.set_index('Country',inplace=True)
df_expenditure_hdi.set_index('Country',inplace=True)
df_health_hdi.set_index('Country',inplace=True)
df_environment_hdi.set_index('Country',inplace=True)

In [12]:
### Loading the data into a NumPy array ###
economy_hdi = np.array(df_economy_hdi)
inequality_hdi = np.array(df_inequality_hdi)
gender_hdi = np.array(df_gender_hdi)
population_hdi = np.array(df_population_hdi)
expenditure_hdi = np.array(df_expenditure_hdi)
health_hdi = np.array(df_health_hdi)
environment_hdi = np.array(df_environment_hdi)

#display(economy_hdi)

array([[0.77264654, 0.74730842, 0.58967308, 0.79512777, 0.1584718 ,
        2.        ],
       [0.77087034, 0.72102597, 0.5460246 , 0.75367506, 0.22063121,
        2.        ],
       [0.76731794, 0.65389487, 0.63669777, 0.86725839, 0.14248846,
        2.        ],
       [0.76554174, 0.64344522, 0.62585505, 0.81956415, 0.16966492,
        2.        ],
       [0.76376554, 0.6111463 , 0.59130562, 0.84175445, 0.19499225,
        2.        ],
       [0.76198934, 0.6811273 , 0.61357472, 0.85242021, 0.13657426,
        2.        ],
       [0.75666075, 0.77295757, 0.68424982, 0.5166966 , 0.20684269,
        2.        ],
       [0.75133215, 0.779924  , 0.6979954 , 0.58217073, 0.14821981,
        2.        ],
       [0.74955595, 0.68936035, 0.55514252, 0.7768046 , 0.17325108,
        2.        ],
       [0.74777975, 0.79892337, 0.46612217, 0.68725028, 0.22109512,
        2.        ],
       [0.74600355, 0.65357821, 0.46575873, 0.78294737, 0.25325369,
        2.        ],
       [0.74600355, 0.82045598, 0.61287242, 0.71942684, 0.10885979,
        2.        ],
       [0.74422735, 0.77834072, 0.54143792, 0.64662195, 0.19335747,
        2.        ],
       [0.74245115, 0.64882837, 0.6059206 , 0.9185505 , 0.10496726,
        2.        ],
       [0.73889876, 0.8549715 , 0.62813306, 0.56747621, 0.13611282,
        2.        ],
       [0.73889876, 0.72450918, 0.51173123, 0.69787041, 0.20556238,
        2.        ],
       [0.73179396, 0.70329322, 0.54519506, 0.45024368, 0.44394537,
        2.        ],
       [0.73179396, 0.71944269, 0.57420259, 0.76353404, 0.1261748 ,
        2.        ],
       [0.72824156, 0.68746042, 0.59303138, 0.63128333, 0.18815428,
        2.        ],
       [0.71403197, 0.6371121 , 0.53952158, 0.66742559, 0.20072001,
        2.        ],
       [0.71403197, 0.64059531, 0.4693312 , 0.7507328 , 0.19555773,
        2.        ],
       [0.71225577, 0.80082331, 0.57173343, 0.67971313, 0.10166278,
        2.        ],
       [0.69094139, 0.8081064 , 0.54726479, 0.81123953, 0.06038492,
        2.        ],
       [0.69094139, 0.7409753 , 0.57870196, 0.69584441, 0.08975258,
        2.        ],
       [0.68916519, 0.75047498, 0.53724476, 0.71863735, 0.09175369,
        2.        ],
       [0.68561279, 0.76377454, 0.51889151, 0.65349981, 0.10836777,
        2.        ],
       [0.68383659, 0.60544649, 0.70001498, 0.59067563, 0.11427112,
        2.        ],
       [0.68383659, 0.68936035, 0.57846891, 0.56848921, 0.1412823 ,
        2.        ],
       [0.68383659, 0.68017733, 0.521566  , 0.56114435, 0.18639876,
        2.        ],
       [0.68383659, 0.59499683, 0.59404896, 0.77979551, 0.09565742,
        2.        ],
       [0.68206039, 0.75174161, 0.4582409 , 0.61159422, 0.154604  ,
        2.        ],
       [0.68028419, 0.74287524, 0.58914384, 0.64378235, 0.08826064,
        2.        ],
       [0.68028419, 0.75585814, 0.59141451, 0.50328692, 0.13069992,
        2.        ],
       [0.67850799, 0.69062698, 0.47573923, 0.77213936, 0.10086228,
        2.        ],
       [0.6749556 , 0.71310956, 0.50621823, 0.65308766, 0.11598857,
        2.        ],
       [0.6625222 , 0.76029132, 0.55420973, 0.54563231, 0.10364601,
        2.        ],
       [0.6589698 , 0.71564281, 0.6141187 , 0.50666092, 0.10369409,
        2.        ],
       [0.65186501, 0.74825839, 0.52976469, 0.51295321, 0.11746822,
        2.        ],
       [0.64831261, 0.75142495, 0.56613901, 0.58068677, 0.0789857 ,
        2.        ],
       [0.64831261, 0.72577581, 0.53064852, 0.54880969, 0.10640089,
        2.        ],
       [0.64298401, 0.62476251, 0.46541594, 0.71406885, 0.10001538,
        2.        ],
       [0.64298401, 0.65864471, 0.54382035, 0.51804782, 0.12924053,
        2.        ],
       [0.63232682, 0.58961368, 0.3852014 , 0.80463457, 0.0990937 ,
        2.        ],
       [0.62877442, 0.74730842, 0.56634562, 0.5070805 , 0.07998337,
        2.        ],
       [0.62166963, 0.81222293, 0.37055691, 0.56561299, 0.10669997,
        2.        ],
       [0.61989343, 0.44838505, 0.55590422, 0.74014945, 0.09406956,
        2.        ],
       [0.61811723, 0.78942369, 0.46969577, 0.51952421, 0.08543326,
        2.        ],
       [0.61456483, 0.81190627, 0.42449092, 0.42982454, 0.12790271,
        2.        ],
       [0.61456483, 0.74160861, 0.59710299, 0.44581046, 0.0741505 ,
        2.        ],
       [0.61101243, 0.60956301, 0.53623998, 0.57089084, 0.08922285,
        2.        ],
       [0.61101243, 0.58264725, 0.48278494, 0.60900745, 0.10416572,
        2.        ],
       [0.60923623, 0.52533249, 0.54287811, 0.68815155, 0.07740977,
        2.        ],
       [0.60568384, 0.51646612, 0.46281166, 0.63288239, 0.12038311,
        2.        ],
       [0.60390764, 0.67131096, 0.47999448, 0.64671822, 0.06574589,
        2.        ],
       [0.59502664, 0.67289424, 0.37603395, 0.70947716, 0.06988594,
        2.        ],
       [0.59325044, 0.66402787, 0.45458111, 0.55093718, 0.08804295,
        2.        ],
       [0.58792185, 0.55826472, 0.55467506, 0.76720307, 0.043067  ,
        2.        ],
       [0.58614565, 0.62159595, 0.46309368, 0.47617373, 0.11463057,
        2.        ],
       [0.57904085, 0.58423053, 0.41616125, 0.81255229, 0.04903407,
        2.        ],
       [0.57548845, 0.57726409, 0.54249166, 0.58951127, 0.05987115,
        2.        ],
       [0.57548845, 0.58391387, 0.50750326, 0.52148257, 0.08217208,
        2.        ],
       [0.57548845, 0.56839772, 0.48044451, 0.61953758, 0.06926658,
        2.        ],
       [0.57193606, 0.67574414, 0.47839248, 0.66180386, 0.04319764,
        2.        ],
       [0.57015986, 0.63457885, 0.45574342, 0.73036163, 0.04263772,
        2.        ],
       [0.57015986, 0.47213426, 0.36486515, 0.68995242, 0.1086507 ,
        2.        ],
       [0.56305506, 0.59468018, 0.46083987, 0.69262951, 0.04828709,
        2.        ],
       [0.55950266, 0.34357188, 0.51837231, 0.68730196, 0.08731596,
        2.        ],
       [0.55772647, 0.65769474, 0.49584597, 0.60134181, 0.04347238,
        2.        ],
       [0.55595027, 0.59246358, 0.4909395 , 0.46290276, 0.08222618,
        2.        ],
       [0.55062167, 0.65959468, 0.43570571, 0.73887409, 0.03289232,
        2.        ],
       [0.55062167, 0.70044332, 0.45353816, 0.53374093, 0.05126587,
        2.        ],
       [0.54884547, 0.41766941, 0.4703525 , 0.56396309, 0.10113703,
        2.        ],
       [0.53818828, 0.57536415, 0.46977725, 0.75639455, 0.03155169,
        2.        ],
       [0.51865009, 0.7409753 , 0.51424052, 0.32010709, 0.05077195,
        2.        ],
       [0.51154529, 0.52659911, 0.37912731, 0.54731542, 0.06678892,
        2.        ],
       [0.4973357 , 0.54844839, 0.36962058, 0.45346834, 0.07711935,
        2.        ],
       [0.4955595 , 0.63457885, 0.39444793, 0.42078907, 0.05837689,
        2.        ],
       [0.48667851, 0.56428119, 0.39273692, 0.72672297, 0.02456053,
        2.        ],
       [0.48134991, 0.62381254, 0.45423891, 0.37125443, 0.04809158,
        2.        ],
       [0.47779751, 0.66561115, 0.33909851, 0.39802987, 0.05941291,
        2.        ],
       [0.47246892, 0.67162761, 0.43145061, 0.42116741, 0.03476996,
        2.        ],
       [0.42628774, 0.69632679, 0.29823839, 0.39409955, 0.03496028,
        2.        ]])

In [13]:
### Fiting a NearestNeighbors object ###

knn = NearestNeighbors(n_neighbors=5)

economy_knn = knn.fit(economy_hdi)
inequality_knn = knn.fit(inequality_hdi)
gender_knn = knn.fit(gender_hdi)
population_knn = knn.fit(population_hdi)
expenditure_knn = knn.fit(expenditure_hdi)
health_knn = knn.fit(health_hdi)
environment_knn = knn.fit(environment_hdi)

In [ ]:
### Trying to reshape the array to fix the error!!! ###

In [16]:
### Performing queries. To get the neighbors of Brazil ###
knn.kneighbors(economy_hdi[economy], return_distance=False)

ValueError: Expected 2D array, got 1D array instead:
array=[0.6589698  0.71564281 0.6141187  0.50666092 0.10369409 2.        ].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.