In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.neighbors import NearestNeighbors

%matplotlib inline

In [2]:
### Importing all the dataframes with only the Cluster that Brazil is located in each case ###
df_economy_hdi = pd.read_csv('df_economy_hdi.csv')
df_inequality_hdi = pd.read_csv('df_inequality_hdi.csv')
df_gender_hdi = pd.read_csv('df_gender_hdi.csv')
df_population_hdi = pd.read_csv('df_population_hdi.csv')
df_expenditure_hdi = pd.read_csv('df_expenditure_hdi.csv') 
df_health_hdi = pd.read_csv('df_health_hdi.csv') 
df_environment_hdi = pd.read_csv('df_environment_hdi.csv')

In [3]:
### Locating and showing the position of Brazil in each dataframe!!! ###
economy_bra = df_economy_hdi[df_economy_hdi['Country']=='Brazil']
display(economy_bra)
inequality_bra = df_inequality_hdi[df_inequality_hdi['Country']=='Brazil']
display(inequality_bra)
gender_bra = df_gender_hdi[df_gender_hdi['Country']=='Brazil']
display(gender_bra)
population_bra = df_population_hdi[df_population_hdi['Country']=='Brazil']
display(population_bra)
expenditure_bra = df_expenditure_hdi[df_expenditure_hdi['Country']=='Brazil']
display(expenditure_bra)
health_bra = df_health_hdi[df_health_hdi['Country']=='Brazil']
display(health_bra)
environment_bra = df_environment_hdi[df_environment_hdi['Country']=='Brazil']
display(environment_bra)

   Country      HDI        LE       EYS       MYS       GNI  Economy
36  Brazil  0.65897  0.715643  0.614119  0.506661  0.103694        2

,Country,IHDI,ILE,IE,II,VE,RPAE,SLF,Inequality
18,Brazil,0.506747,0.220779,0.414555,0.669368,0.293995,1.0,0.648593,2

   Country      GDIV      GIIV       SSP      WAFI  Gender
27  Brazil  0.922445  0.497403  0.269189  0.669624       0

   Country        TP       TUP        MA  Population
19  Brazil  0.147187  0.847926  0.551992           1

   Country       CHE       GEE      RDE  Expenditure
17  Brazil  0.521803  0.458251  0.25292            2

   Country       PPP        HB  Health
37  Brazil  0.255751  0.154503       0

,Country,CDEP,CDE,FA,FAC,DMC,RLI,Environment
15,Brazil,0.056879,0.150589,0.59976,0.226697,0.319205,0.840719,0

In [4]:
### Saving just the Brazil's index for each case! ###
economy = 36
inequality = 18
gender = 27
population = 19
expenditure = 17
health = 37
environment = 15

In [5]:
### Changing the index to make the numpy array only with float!! ###
df_economy_hdi.set_index('Country',inplace=True)
df_inequality_hdi.set_index('Country',inplace=True)
df_gender_hdi.set_index('Country',inplace=True)
df_population_hdi.set_index('Country',inplace=True)
df_expenditure_hdi.set_index('Country',inplace=True)
df_health_hdi.set_index('Country',inplace=True)
df_environment_hdi.set_index('Country',inplace=True)

In [20]:
### Loading the data into a NumPy array ###
economy_hdi = np.array(df_economy_hdi)
inequality_hdi = np.array(df_inequality_hdi)
gender_hdi = np.array(df_gender_hdi)
population_hdi = np.array(df_population_hdi)
expenditure_hdi = np.array(df_expenditure_hdi)
health_hdi = np.array(df_health_hdi)
environment_hdi = np.array(df_environment_hdi)

#display(economy_hdi)

In [22]:
environment_hdi

array([[0.10778634, 0.06437939, 0.70145075, 0.26365432, 0.31035531,
        0.99896548, 0.        ],
       [0.22358546, 0.21163068, 0.7440351 , 0.26716667, 0.46160442,
        0.99486189, 0.        ],
       [0.20348193, 0.17622202, 0.47737444, 0.26988586, 0.28822916,
        0.83014932, 0.        ],
       [0.24009197, 0.26543913, 0.69670089, 0.26108375, 0.15603156,
        0.62555605, 0.        ],
       [0.18239712, 0.23820374, 0.63068865, 0.27844836, 0.24141562,
        0.8913066 , 0.        ],
       [0.33862894, 0.38426282, 0.64478251, 0.2469047 , 0.28980639,
        0.49787924, 0.        ],
       [0.09762253, 0.1439131 , 0.54935924, 0.28104367, 0.31120117,
        0.99206869, 0.        ],
       [0.48650013, 0.24941052, 0.73384852, 0.23331942, 0.42683544,
        0.77214732, 0.        ],
       [0.08366571, 0.24831103, 0.6257728 , 0.37201736, 0.24187614,
        0.67728198, 0.        ],
       [0.34636124, 0.30510664, 0.89162171, 0.27427339, 0.00602567,
        0.54260492, 0.        ],
       [0.06837302, 0.09697973, 0.62983294, 0.23080156, 0.13070309,
        0.57412325, 0.        ],
       [0.04183903, 0.08911114, 0.55534758, 0.29093233, 0.14882234,
        0.72121452, 0.        ],
       [0.21210815, 0.29108491, 0.68796264, 0.25837865, 0.35589927,
        0.6137453 , 0.        ],
       [0.17719994, 0.19171458, 0.89980784, 0.26095706, 0.02763377,
        0.47103348, 0.        ],
       [0.04510833, 0.12540734, 0.58682908, 0.24268801, 0.2808167 ,
        0.54482913, 0.        ],
       [0.05687943, 0.15058948, 0.59976018, 0.22669681, 0.31920453,
        0.84071865, 0.        ],
       [0.05276959, 0.2274076 , 0.70458373, 0.28862821, 0.14316934,
        0.6106245 , 0.        ],
       [0.08111146, 0.28981322, 1.        , 0.25867505, 0.24321991,
        0.98384427, 0.        ],
       [0.05103581, 0.34378063, 0.51177837, 0.21512859, 0.23446349,
        0.79095831, 0.        ],
       [0.03888335, 0.2274076 , 0.60737322, 0.20643128, 0.20617644,
        0.74471534, 0.        ],
       [0.03415923, 0.30510664, 0.61495472, 0.37004522, 0.08463003,
        0.61046933, 0.        ],
       [0.12595198, 0.39803948, 0.53674364, 0.22434171, 0.11166417,
        0.7152488 , 0.        ],
       [0.06737175, 0.30510664, 0.71467404, 0.27427339, 0.02112045,
        0.73395634, 0.        ],
       [0.06599096, 0.09128361, 0.91634202, 0.27982375, 0.09851859,
        0.93601504, 0.        ],
       [0.08159577, 0.20798781, 0.85389194, 0.25796738, 0.45638761,
        0.80532087, 0.        ],
       [0.04176976, 0.34146276, 0.73769839, 0.3823821 , 0.18334004,
        0.6634884 , 0.        ],
       [0.01481267, 0.19171458, 0.56823369, 0.24613323, 0.04545407,
        0.66548847, 0.        ],
       [0.03463034, 0.30510664, 0.93485965, 0.27427339, 0.0272027 ,
        0.49025828, 0.        ],
       [0.07146092, 0.34146276, 0.83564177, 0.28655203, 0.21485807,
        0.7195593 , 0.        ],
       [0.11386243, 0.19171458, 0.56470522, 0.20449901, 0.35483468,
        0.70531742, 0.        ],
       [0.00730148, 0.08435554, 0.66355264, 0.23258103, 0.14534472,
        0.79626884, 0.        ],
       [0.0155977 , 0.10231819, 0.66513481, 0.25475644, 0.05115232,
        0.95348115, 0.        ],
       [0.00653885, 0.30510664, 0.792442  , 0.23943571, 0.12015207,
        0.60195179, 0.        ],
       [0.02336135, 0.30510664, 0.75412316, 0.2602288 , 0.17984285,
        0.7290079 , 0.        ],
       [0.        , 0.        , 0.68356054, 0.24349381, 0.02707367,
        0.82435601, 0.        ],
       [0.004136  , 0.19171458, 0.71009607, 0.22131091, 0.05765052,
        0.85425359, 0.        ]])

In [ ]:
from sklearn.neighbors import NearestNeighbors
import numpy as np
>>> X = np.array([[-1, -1], [-2, -1], [-3, -2], [1, 1], [2, 1], [3, 2]])
>>> nbrs = NearestNeighbors(n_neighbors=2, algorithm='ball_tree').fit(X)
>>> distances, indices = nbrs.kneighbors(X)
>>> indices

In [24]:
### Fiting a NearestNeighbors object ###

knn = NearestNeighbors(n_neighbors=5).fit(economy_hdi)
distances, indices = knn.kneighbors(economy_hdi)

#economy_knn = knn.fit(economy_hdi)
#inequality_knn = knn.fit(inequality_hdi)
#gender_knn = knn.fit(gender_hdi)
#population_knn = knn.fit(population_hdi)
#expenditure_knn = knn.fit(expenditure_hdi)
#health_knn = knn.fit(health_hdi)
#environment_knn = knn.fit(environment_hdi)

In [26]:
indices

array([[ 0, 17,  8,  1,  5],
       [ 1,  8, 15,  0, 17],
       [ 2,  5,  3, 13,  4],
       [ 3,  2,  4,  5,  8],
       [ 4,  3,  2,  5,  8],
       [ 5,  2,  3, 13,  0],
       [ 6,  7, 14, 32, 36],
       [ 7,  6, 14, 32, 18],
       [ 8, 17,  1,  0,  3],
       [ 9, 15, 12, 30,  1],
       [10, 20,  1,  8, 15],
       [11, 21, 23, 24, 17],
       [12, 15,  9, 25, 18],
       [13,  2,  5,  3,  4],
       [14,  7,  6, 32, 21],
       [15,  1, 12,  9, 19],
       [16, 28,  6, 18, 12],
       [17,  8,  0, 24, 23],
       [18, 19, 27, 12, 28],
       [19, 18, 15, 20, 28],
       [20, 10, 19,  8, 15],
       [21, 23, 11, 25, 24],
       [22, 24, 17, 11, 23],
       [23, 24, 31, 21, 25],
       [24, 23, 25, 21, 17],
       [25, 34, 24, 21, 31],
       [26, 27, 18, 36, 49],
       [27, 28, 39, 41, 36],
       [28, 27, 41, 39, 18],
       [29, 56,  3, 17,  4],
       [30, 34, 25, 28, 39],
       [31, 23, 38, 25, 21],
       [32, 36, 35, 37, 43],
       [33, 40, 24, 20, 17],
       [34, 25, 30, 24, 31],
       [35, 39, 37, 38, 43],
       [36, 32, 43, 35, 48],
       [37, 39, 35, 43, 32],
       [38, 35, 39, 31, 43],
       [39, 37, 35, 38, 43],
       [40, 63, 33, 53, 65],
       [41, 39, 27, 28, 49],
       [42, 58, 40, 54, 63],
       [43, 37, 35, 39, 36],
       [44, 46, 30, 47, 70],
       [45, 51, 56, 66, 52],
       [46, 37, 39, 35, 43],
       [47, 46, 44, 37, 43],
       [48, 43, 36, 32, 37],
       [49, 59, 60, 50, 41],
       [50, 61, 49, 52, 59],
       [51, 56, 45, 52, 61],
       [52, 50, 61, 51, 64],
       [53, 62, 67, 40, 34],
       [54, 69, 63, 40, 62],
       [55, 70, 67, 57, 49],
       [56, 51, 72, 29, 65],
       [57, 68, 60, 55, 41],
       [58, 42, 72, 63, 69],
       [59, 49, 61, 60, 50],
       [60, 68, 49, 59, 57],
       [61, 50, 59, 52, 65],
       [62, 53, 67, 63, 65],
       [63, 69, 65, 72, 62],
       [64, 52, 77, 65, 74],
       [65, 63, 72, 61, 69],
       [66, 45, 71, 51, 52],
       [67, 62, 53, 55, 70],
       [68, 57, 60, 55, 76],
       [69, 63, 65, 54, 62],
       [70, 55, 67, 46, 57],
       [71, 52, 74, 66, 61],
       [72, 65, 63, 58, 69],
       [73, 78, 80, 48, 76],
       [74, 75, 61, 71, 60],
       [75, 76, 74, 79, 68],
       [76, 80, 79, 78, 75],
       [77, 72, 65, 69, 63],
       [78, 80, 76, 79, 68],
       [79, 76, 81, 80, 78],
       [80, 76, 78, 79, 70],
       [81, 79, 76, 80, 78]], dtype=int64)

In [27]:
### Performing queries. To get the neighbors of Brazil ###
#knn.kneighbors(economy_hdi[economy], return_distance=False)